<div class="center" *ngIf="rectangle">
  <span>{{rectangle.width | number:'1.0-0'}}px</span>
  <span>{{rectangle.height | number:'1.0-0'}}px</span>
  <svg #box [attr.height]="rectangle.height" [attr.width]="rectangle.width" (window:mouseup)="setStatus(0)">
    <rect [attr.width]="rectangle.width" [attr.height]="rectangle.height"
          style="fill:blue;stroke-width:5;fill-opacity:0.1;"/>
  </svg>
  <div class="resize-action" (mousedown)="setStatus( 1)">
  </div>
</div>
