.center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  span:first-of-type {
    position: absolute;
    left: 50%;
    transform: translate3d(-50%, -100%, 0);
  }

  span:nth-of-type(2) {
    position: absolute;
    top: 50%;
    transform: translate3d(-100%, -50%, 0);
  }
}

.resize-action {
  position: absolute;
  z-index: 1;
  left: 100%;
  top: 100%;
  border-style: solid;
  border-width: 8px;
  border-color: transparent transparent transparent blue;
  transform: translate3d(-50%, -70%, 0) rotateZ(45deg);
  &:hover, &:active {
    cursor: nwse-resize;
  }
}
